.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-action{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-search{
    flex-direction: row;
}