$base-spacing-unit: 24px;
$half-spacing-unit: $base-spacing-unit / 2;

$color-alpha: #1772FF;
$color-form-highlight: #EEEEEE;
.all{
    display: flex;
    flex-direction: row;
}
.table {
    width:100%;
    border:1px solid  $color-form-highlight;
}

.table-header {
    display:flex;
    width:100%;
    background:#000;
    padding:($half-spacing-unit * 1.5) 0;
}

.table-row {
    display:flex;
    width:100%;
    padding:($half-spacing-unit * 1.5) 0;

&:nth-of-type(odd) {
     background:$color-form-highlight;
 }
}
.header__item{
    color:white;
}
.table-data, .header__item {
    flex: 1 1 20%;
    text-align:center;
}

