.body{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.body-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 12px;
  height: 48px;
}
.body-item-title{
  font-family: "OpenSans";
  font-size: 15px;
  width: 130px;

}
.footer{
  flex-direction: row;
  display: flex;
}
.body-item-input{
  width: 240px;
  height: 40px;
}
